.body {
    display: flex;
    flex: 1;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.left-logo {
    display: flex;
    font-size: 24px;
    color: #f9FAF8;
    font-weight: bold;
    padding: 12px;
    gap: 16px;
    margin-left: 24px;
}

.right-links {
    display: flex;
    justify-content: space-between;
}

.big-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.small-text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}



.top-image {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: auto;
    width: 125px;
    height: 200px;
    margin: 50px;
}

.top-button {
    display: flex;
    height: 36px;
    width: 36px;
}
